<div class="container">
<!-- Content Header (Page header) -->
<section class="content-header">
         <div class="pull-leftf">
             <h1>Ajout d'une propriété</h1>
        <!-- <small>Liste des propriétés</small> -->
         </div> 
</section>
<%= render ('form') %>

</div>