<div class="br-pageheader">
     <nav class="breadcrumb pd-0 mg-0 tx-12">

     <span class="breadcrumb-item active">Nouvelle propriété</span>
     </nav>
     </div><!-- br-pageheader -->

<div class="br-pagebody">
  <div class="br-section-wrapper">
     <%= render ('form') %>

</div>
</div>