<% @property_types.each do |property_type| %>
    <tr>
      
      <td><%= property_type.name %></td>
      <td><%= property_type.description %></td>
    
                              
    
  <td>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">GERER
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        
        <li>
            <%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"> Modifier</i>'),edit_property_type_path(property_type), remote: true , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Modifier"%>
        <li>

          <li>
            <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"> Supprimer</i>'), property_type_delete_path(property_type),:remote => true, class: "red-text" , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Supprimer"%>
            </li>
          
        
      </ul>
    </div>
  </td>
    </tr>
<% end %>