<div class="container">


<!-- Content Header (Page header) -->
<section class="content-header">
         <div class="pull-leftf">
            <h1>Nouvelle type de propriété</h1>
        <!-- <small>Liste des propriétés</small> -->
         </div> 
</section>

<%= render 'form', property_type: @property_type %>

<%= link_to raw('<i class="fa fa-arrow-circle-left" aria-hidden="true"> Retour</i>'), property_types_path %>
</div>
