<div class="container-fluid">
	<div class="jumbotron text-center">
		<div class="jumbotron-text">
		  <h1>Promouvoir, vendre, acheter... </h1>
		  <p>Ateliers, séminaires, cérémonies, conférences, concerts et festivals, sport, promotions, rencontres etc...</p>
	 
		</div>
	  <div class="jumbotron-form text-center">
			<form class="form-inline">
			

				<div class="form-group">
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				    
				</div>

				<div class="form-group">
				   <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				</div>

				<div class="form-group">
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				    
				</div>		
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Transfer cash</button>
					
				</div>
			</form>
		</div>

	</div>
	
</div>