
	<div class="jumbotron text-center">
		<div class="container">
			<div class="jumbotron-text">
			  <h1>Trouvez votre nouveau logement maintenant... </h1>
			  <p>Appartement, Bureau, Terrain etc...</p>
		 
			</div>
		    <%= render "home/partials/search" %>
		</div>
	</div>

	


<!-- FEATURED SECTION -->
<div class="section-featured">
	<%= render 'home/partials/featured-properties' %>
</div>