<div class="container">

<!-- Content Header (Page header) -->
<section class="content-header">
         <div class="pull-leftf">
            <h1>Nouveau type de contrat</h1>
        <!-- <small>Liste des propriétés</small> -->
         </div> 
</section>

<%= render 'form', contract_type: @contract_type %>

<%= link_to raw('<i class="fa fa-arrow-circle-left" aria-hidden="true"> Retour</i>'), contract_types_path %>

</div>
