




<body class="hold-transition lockscreen">
<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <%= render('devise/shared/logo') %>
  </div>
  <!-- User name -->
<div class="help-block text-center">
	Pour être informer lors du lancement officiel du service, veuillez vous abonner!
  </div>
  <!-- START LOCK SCREEN ITEM -->
  <div class="lockscreen-item">
    <!-- lockscreen image -->
   
    <!-- /.lockscreen-image -->
      <!-- /.lockscreen-item -->
  


    <!-- lockscreen credentials (contains the form) -->
    <%= form_for(@suscriber, class: "lockscreen-credentials") do |f| %>

      <div class="input-group">
        <!-- <input type="password" class="form-control" placeholder="password"> -->
		<%= f.email_field :email,  class: "form-control",  placeholder: "Votre adresse email ici!", required: true %>
        <div class="input-group-btn">
        
         <%= f.submit "Envoyer", class: "btn bg-purple" %>
         <!--  <button type="button" class="btn"><i class="fa fa-arrow-right text-muted"></i></button> -->
        </div>
      </div>
    <% end %>
    <!-- /.lockscreen credentials -->

  </div>
  <div class="text-center">
   
   
  </div>
  <div class="lockscreen-footer text-center">
    Copyright &copy; 2017 <b><a href="http://imofy.xyz" class="text-black">Imofy.</a></b>
    All rights reserved
  </div>
</div>
<!-- /.center -->

